<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">WELCOME TO BUILDWORLD</span>
        <span id="welcomeDescription">BuildWorld is a creative build server open to all.
        
        It works on a level principle, at each level you can select a certain size of land, you will gain levels by building on
        your land, when your build is finished it will be checked by a staff member and you can then expand your land.
        
        There is a second principle, that of economy, in each season you have a theme, if your build respects this theme you
        will earn more or less money. If you want a chunk already taken, you just have to send a message to the owner of this
        chunk and propose him a repurchase, all the details are in the rules.
       </span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from Buidlworld.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>